.btn
	color $customblack2
	border-radius 0
	outline 0
	&:hover,
	&:active,
	&:focus
		outline 0
	&-custom1
		color $customwhite1
		background-color $customred1
		&:hover,
		&:active,
		&:focus
			color darken($customwhite1, 10%)
			background-color darken($customred1, 10%)
	&-custom2
		color $customblack3
		background-color $customgreen1
		&:hover,
		&:active,
		&:focus
			color alpha($customblack3, 90%)
			background-color darken($customgreen1, 10%)
	&-custom3
		color $customwhite1
		background-color $customblue1
		&:hover,
		&:active,
		&:focus
			color darken($customwhite1, 10%)
			background-color darken($customblue1, 20%)
	&-custom4
		color $customblack1
		background-color $customyellow3
		&:hover,
		&:active,
		&:focus
			color darken($customblack1, 10%)
			background-color darken($customyellow3, 20%)


		