.input-group
	display inline-block
	width 100%
	padding 0 20px
	background-color $customwhite1
	font-size 14px
	font-weight 700
	color $customblack2
	margin-bottom 5px
	input, textarea
		width 100%	
		display block
		padding 7px 20px
		border 0
		outline none
		&::-webkit-input-placeholder
			font-weight 700
			text-align center
			color $customblack2
		&:-moz-placeholder
			font-weight 700
			text-align center
			color $customblack2
		&::-moz-placeholder
			font-weight 700
			text-align center
			color $customblack2  
		&:-ms-input-placeholder  
			font-weight 700
			text-align center
			color $customblack2
	textarea
		border 0
		outline none
		padding 5px 20px
	&--default
		display inline-block
		width 100%
		padding 10px 20px
		background-color transparent
		font-size 14px
		font-weight 700
		color $customgray4
		border 1px solid $customgray4
		margin-bottom 20px
		input, textarea
			width 100%	
			display block
			padding 5px 20px
			outline none
			border 0
			background-color transparent
			&::-webkit-input-placeholder
				font-size 15px
				font-weight 100
				text-align left
				color $customgray4
			&:-moz-placeholder
				font-size 15px
				font-weight 100
				text-align left
				color $customgray4
			&::-moz-placeholder
				font-size 15px
				font-weight 100
				text-align left
				color $customgray4  
			&:-ms-input-placeholder  
				font-size 15px
				font-weight 100
				text-align left
				color $customgray4
		textarea
			border 0
			outline none
			padding 5px 20px
			border-radius 20px
			min-height 140px
			resize none