#mod-contTo-1
	cover('../../assets/img/bg-contador.jpg')
	text-align center
	color $customwhite1
	padding 25px 15px
	.count
		font-size 46px
		font-weight 700
		margin-bottom 0px
		display inline-block
	.textCount
		font-size 15px
		font-weight 700
		text-transform uppercase
	.iconsCount
		font-size 82px
		color $customblack3
		margin-bottom 0px
		display inline-block
		