.landingpage
	.carousel .carousel-inner .item
		background-image url('../img/slider2.jpg')
	#mod-contTo-1
		background-image url('../img/bg-contador2.jpg')
	.section-n2
		background-image none
		background-color $customblue1
		color $customwhite1
	.section-n4,
	.section-n5
		background-color $customblue2
		border-color $customblue1
		h1
			color $customwhite1
	.footer__contact
		background-color $customblue2
	.footer__credits
		background-color $customblue1