/**************************
*** HERO
**************************/
/*FUNDO+LOGO*/
.hero 
	background-image url('../../assets/img/bg-blog-header.jpg')
	background-position center center
	background-size cover
	background-repeat no-repeat
	padding 128px 0 64px 0
/*HERO-CONTENT*/
.hero-content 
	background-color #545050
	color #fff
	margin-bottom 13px
	padding 15px 0
.hero-content h2
	margin 0
.hero-content h2 > strong 
	font-weight normal
/**************************
*** BLOG
**************************/
.blog
	padding 80px 15px 50px 15px
	text-align justify
	font-size 15px
	.page-header 
		padding 0 0 25px 0
		text-align left
		@media mqmobile-md
			text-align center
		h1 
			font-size 32px
			font-weight bold
			text-transform uppercase
			color $customgreen2
			@media mqmobile-md
				font-size 24px
			span 
				border-bottom 5px solid $customgreen3
	p
		padding 0
		margin-bottom 15px
		letter-spacing .2px
	li
		margin 5px 0
	strong
		font-weight 700
	b
		font-weight 600
	img
		max-width 100%
		height auto
	.post-preview
		padding-bottom 20px
		.post-thumbnail
			overflow hidden
			zoom 1
			min-height 200px
			max-height 228px
			background-size cover
			background-position center center
			background-repeat no-repeat
			transition(.2s all ease-in-out)
		.post-content
			padding 15px
			background-color $customblack2
			h1
				padding 0
				margin 0
				font-size 18px
				font-weight 700
				color $customgreen1
			a
				color $customgreen1
				text-decoration none
				transition(.2s all ease-in)
			.title
				&:hover
					display inline-block
					padding 5px 0
					color $customgray3
			p 
				padding 15px 0
				margin 0
				font-size 15px
				font-weight 400
				color white
			@media screen and (max-width 768px)
				text-align center
	.post-excerpt
		padding 15px
		.glyphicon
			padding-right 10px
		span
			font-size 14px
			font-weight 400
			color $customgreen5
			text-transform uppercase
		strong
			padding-top 15px
			font-size 15px
			font-weight 700
			color gray
			text-transform uppercase
		@media screen and (max-width 768px)
			text-align center
	.pagenavi
		text-align center
	.sidebar
		text-align center
		color white
		header
			margin-top 15px
			padding 15px
			text-align center
			border 1px solid $customgreen5
			h1
				margin 0
				padding 0
				font-size 16px
				font-weight 700
				color $customgreen5
				text-transform uppercase
		&.newsletter
			padding 15px
			background-color $customblack3
			header
				margin 0
				border-color $customyellow2
				h1
					color $customwhite1
			&2
				margin-top 25px
				background-color #0D324D
				header
					margin 0
					border-color $customblack5
					margin-bottom 15px
					h1
						font-size 20px
						color $customwhite1
				strong
					font-size 18px
					color $customwhite1
					font-weight 600
				.iconsAnimated
					padding 15px 0
					-webkit-animation-duration 3s
					animation-duration 3s
					span[class*=icon-]
						font-size 12px
						line-height 1
						margin 0
						&:nth-child(2)
							opacity .5
		&.socials
			img
				padding-top 15px
		span
			display block
			margin 15px 0
			font-size 16px
			font-weight 400
		input
			width 100%
			padding 5px
			border 0
			margin 0
			font-weight 700
		button
			margin 15px 0
			font-weight 600
		ul
			padding-top 15px
			padding-left 30px
			text-align left
			list-style 
		li,a
			list-style-type square
			font-size 16px
			font-weight 400
			color black
			&:hover
				font-weight 600
.single
	padding 180px 15px 50px 15px
	.page-header h1
		padding-bottom 25px
	
.faq
	padding-bottom 50px
	.page-header 
		padding 15px 0
		h1 
			font-size 43px
			font-weight bold
			color rgb(49, 99, 153)
			span 
				border-bottom 5px solid #ffcb00
	.panel-group 
		.panel 
			border-radius 0 
	.panel-default 
		.panel-heading
			background-image none
			background-color rgb(0, 168, 144)
			border-radius 0
			color white
		.panel-body 
			a
				color rgb(49, 99, 153) !important
	.close-panel
		span
			color white
			padding 11.5px
			background-color rgb(0, 168, 144)
			&:before
				content "\2212"
		span.collapsed
			&:before
				content "\002b"
/*Comment Output*/
.form-single
	padding 25px 0 25px 0
	margin 15px 0
	form
		background-color $customblack3
		padding 25px 0 20px 0
	.input-group
		padding 0 15px 0 15px
		background-color transparent		
	input[type="submit"]
		border 0
		padding 8px 15px
	strong
		color $customblack4
		padding 0 15px 6px 15px
		display inline-block
.comment-respond
	clear both
	padding 25px 0
	.comment-form
		@media mqtablet
			text-align center
		a
			color $customgreen5
		p
			display block
			padding 2px 0
		label
			display block
		input,textarea
			border 1px solid $customgreen5
			padding 7px 15px
			font-weight 600
			font-size 16px
			color $customgreen5
			outline 0
			max-width 100%
			@media mqtablet
				width 100%
		textarea
			width 100%
			max-width 100%
			height 100px
			max-height 150px
		.submit,input[type="submit"]
			font-weight 600
			border 0
			outline 0
			padding 5px 15px
			@extend .btn-custom1
#comments
	font-size 18px
	font-weight 100
	clear both 
	padding 25px 0
	margin 0
.commentlist
	list-style none
	padding 15px 0
	font-size 16px
	font-style normal
	.fn
		font-size 16px
		font-weight 700
		font-style normal
		text-transform uppercase
		padding 0 15px
		a
			font-size 16px
			font-weight 700
			font-style normal
			text-transform uppercase
			color $customgreen2
			&:hover
				color alpha($customgreen2, 70%)
	.comment-awaiting-moderation
		font-size 18px
		font-weight 100
		font-style normal
		margin 15px 0
	a
		font-size 16px
		font-weight 700
		text-transform uppercase
		color $customgreen2
		&:hover
			color alpha($customgreen2, 70%)
	p
		font-size 15px
		padding 5px 0
		font-weight 600
	.comment-reply-link
		font-size 10px
		padding 5px 15px
		@extend .btn-custom2
	.commentmetadata
		padding 5px 0
		a
			font-size 16px
			font-weight 100
	.comment-body
		padding 15px 0

	