.modal
	.modal-dialog
		width 80%
		margin 0 auto
		position absolute
		top 50px
		left 15px
		right 15px
	.modal-content
		background-color alpha($customblack1, 90%)
		border 0
		border-radius 0
		color $customwhite1
		text-align center
	.modal-header,
	.modal-title,
	.modal-footer,
	.modal-body
		text-align center
		border 0
		border-radius 0
	.close
		color $customwhite1
		opacity 1
		span
			color $customwhite1
			opacity 1
	.input-group--default,
	.input-group
		margin-bottom 10px
.modalContact
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 999
	height 100%
	max-height 0
	overflow hidden
	transition 1s all linear
	text-align center
	&__wrapper
		position absolute
		max-width 970px
		top 75px
		bottom 2%
		left 0
		right 0
		margin 0 auto
		overflow auto
		zoom 1
		padding-bottom 20px
		background-color rgba(0,0,0,.8)
		.page-header
			text-align center
			padding 60px
			h1
				font-size 30px
				font-weight 700
				color $customwhite1
				small
					color $customwhite1
					font-size 16px
		.content
			max-width 500px
			margin 0 auto
		.btn
			font-weight 700
	&__toggle
		font-size 32px
		font-weight 700
		color $customwhite1
		float right
		padding 15px 20px
		background-color $customgreen1
		cursor pointer
	&.active
		max-height 100%