.postit-fixed1
	transition(1s all ease-in)
	position fixed !important
	opacity 0
	top calc(50% + 50px)
	right 0
	vertical-middle(-50%)
	a
		display block
.postit-fixed2
	transition(1s all ease-in)
	position fixed !important
	opacity 0
	bottom 0
	right 0
	top none
.postit-fixed3
	transition(1s all ease-in)
	position fixed !important
	opacity 0
	top calc(50% + 100px)
	right 0
	vertical-middle(-50%)
	a
		display block