.vNav {
    position: fixed;
    top: 50%;
    margin-top: -50px;
    right: 10px;
    z-index: 9999;
    list-style-type: none;
}
.vNav ul {
    position: relative;
}
.vNav ul li{
    width: 20px;
    position: relative;
    padding-bottom: 5px;
    color: gray;
    z-index: 2;
}
.vNav a {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    text-decoration: none;
    background-color: #4f5a70;
    border-color: #4f5a70;
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in;
}
.vNav a:hover{
    margin-left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #223a63;
    text-decoration: none;
    border-color: black;
}
.vNav a.active {
    margin-left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E13055;
    text-decoration: none;
}
.vNav .label {
    position: relative;
    top: -5%;
    left: -100%;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: black;
    display: none;
}
.vNav .border {
    position: absolute;
    top: 5px;
    right: 14px;
    z-index: 1;
    width: 2px;
    height: 90%;
    padding: 0;
    background-color: #4f5a70;
}