.btn
	color $customblack2
	&-custom1
		color $customwhite1
		background-color $customred1
		border-radius 0
		&:hover
			color darken($customwhite1, 10%)
			background-color darken($customred1, 10%)

		