.icon
	&--cube
		background-image  url('../../assets/img/sprites/icon-cubes.png')
		background-repeat no-repeat
		width  113px
		height 114px
		display inline-block
		&--magic
			@extend .icon--cube
			background-position 0 0
		&--question
			@extend .icon--cube
			background-position 0 -122px