.mod_tabnav2
	hr
		margin .5px
		border 2px solid $customgreen1
	.nav-tabs
		li
			min-height 150px
			padding 15px 0
			display table
			@media mqmobile
				min-height 100px
			img
				max-width 100%
			&.active
				background-color $customgray1
				a
					border 0
					&:link,
					&:hover,
					&:visited,
					&:active
						background-color transparent
						border 0
						border-radius 0
						outline 0
		a
			display table-cell
			vertical-align middle
			outline 0
			border 0
			border-radius 0
			padding 0
			