.title
	text-align center
	&--default
		h1,
		h2
			@extend .uppercase
			color #fff
			margin-top 0
		h1
			font-size 34px
		h2
			font-size 21px
		&__line
			background #fff
			width 57px
			height 3px
			display block
			margin-top 14px
	&--slogan
		h1
			@extend .uppercase
			@extend .float--left
			font-size 30px
			line-height 35px
			color #fff
			font-weight 100
			letter-spacing 1px
			span
				font-weight 700
		i
			@extend .float--right
			margin-right -47px