.clear
	clear both
.uppercase
	text-transform uppercase
.relative
	position relative
.absolute
	position absolute
.fixed
	position fixed
.float
	&--left
		float left
	&--right
		float right
.blue
	color $customblue
	&--bg
		background-color $customblue
.darkblue
	color $customdarkblue
	&--bg
		background-color $customdarkblue
.ocean
	color $ocean
	&--bg
		background-color $ocean
.green
	color $green
	&--bg
		background-color $green
.box-shadow
	min-height 640px
	background-color $blue4
	padding 0
	overflow hidden
	box-shadow(0px 0px 41px 0px)
.inline-block
	display inline-block
	*display inline
	zoom 1
.underline
	display inline-block
	padding-bottom 10px
	min-width 50px
	width auto !important
	&-white
		border-bottom 2px solid $white
.bx-wrapper
	margin 50px auto 15px auto !important
	text-align center
	img
		display inline-block
.bx-viewport
	background-color transparent !important
	border 0 !important
	-webkit-box-shadow none !important
	box-shadow none !important
	text-align center
	width 90% !important
	margin 0 auto
.stroke-sections
	float left
	width 100%
	img
		width 100%
		display block
		position relative
		z-index 1
		margin 0
		padding 0
.gutter
	padding 0 15px
	&--full
		padding 15px