.page-header
	font-size 35px
	text-align center
	padding 0
	border 0
	margin 0
	h2
		font-weight 100
.no-gutter
	padding 0
.container--parallax
	position fixed
	top 0
	z-index 0
.clear
	clear both
.uppercase
	text-transform uppercase
.relative
	position relative
.absolute
	position absolute
.fixed
	position fixed
.float
	&--left
		float left
	&--right
		float right
.inline-block
	display inline-block
	*display inline
	zoom 1
.bx-wrapper
	margin 50px auto 15px auto !important
	text-align center
	img
		display inline-block
.bx-viewport
	background-color transparent !important
	border 0 !important
	-webkit-box-shadow none !important
	box-shadow none !important
	text-align center
	width 90% !important
	margin 0 auto
.stroke-sections
	float left
	width 100%
	img
		width 100%
		display block
		position relative
		z-index 1
		margin 0
		padding 0
.gutter
	padding 0 15px
	&--full
		padding 15px
.inline-block
	display inline-block
	*display inline
	zoom 1