*
	-webkit-font-smoothing  antialiased
	-moz-osx-font-smoothing grayscale
ul
	margin  0
	padding 0
	li
		margin     0
		padding    0
		list-style none
a
	&:hover,
	&:focus,
	&:active
		text-decoration none
body
	font-family 'Open Sans', sans-serif
	font-size 16px
	padding-top 100px
section
	position relative
.ui-loader
	height 0
	overflow hidden