// Navbar
.navbar
	border-radius 0
	border 0
	margin 0 auto
	padding 0 15px
	transition(.2s all ease-in)
	background-color $customwhite1
	@media mqtablet-md
		top 0
		padding 0 15px
		background-color $customwhite1
	@media mqdesktop
		&-wrapper
			max-width 930px
	.branding
		text-align center
		display block
		padding 10px 0
	.glyphicon
		color $customgreen1
	&.navbar-shrink
		background-color white
	.menu
		ul
			float right
			margin 0 auto
			padding 0
			list-style none
			@extend .inline-block
			@media mqtablet-md
				float none
			li
				@extend .inline-block
				padding-right 10px
				&:last-child
					padding-right 0
				&.active
					a
						color $customgreen5
						background-color transparent
						border-bottom 4px solid $customgreen5
						@media mqtablet-md
							border 0
				a
					font-weight 600
					text-decoration none
					text-transform uppercase
					padding 20px 5px
					@media mqtablet-md
						padding 0 5px
		&__list
			text-align center
			li
				a 
					font-size 13px
					letter-spacing 1px
					color $customblack2
					transition .2s color linear
					-webkit-transition .2s color linear
					@media mqtablet-md
						color $customgreen1
					&:hover
						color $customgreen1
					&:active
						font-weight 700
		&__icons
			li
				padding 24px 5px
				a
					span[class^="icon-"], span[class*=" icon-"]
						font-size 20px
						color corIconSocial
						transition 1s all linear
						-webkit-transition 1s all linear
						&:hover
							color roxo
		@media mqtablet-md
			width 100%
			max-height 0
			overflow hidden
			-webkit-transition 1s all linear
			transition .5s all linear
			transition-delay .5s
			.separetor
				display block
				border 1px solid gray
				&:after
					padding 0
					font-size 0
					content ''
			.col-xs-12
				width 100%
			ul
				display block
				text-align center
				max-height 0
				overflow hidden
				-webkit-transition 1s all linear
				transition 1s all linear
				li
					display block
					padding 5px 5px
					margin 18px 0
					a
						font-size 16px
			.menu__icons
				padding-bottom 5px
				li
					display inline-block
			&.active
				max-height 100vh
				ul
					max-height 100vh
	.menu-collapse
		font-size 0
		padding 0
		cursor pointer
	@media mqtablet-md
		.menu-collapse
			font-size 24px
			padding 10px 0
// Carousel
.carousel
	margin-top 64px
	.carousel-inner
		.item
			min-height 100vh
			background-image url('../../assets/img/slider1.jpg')
			background-size cover
			background-position center
			background-repeat no-repeat
			padding 0 15px
			.carousel-caption
				width 100%
				left 0
				right 0
				bottom 15%
				h1,p,a
					text-shadow none
				h1
					text-transform uppercase
					font-size 48px
					font-weight 900
					text-shadow(1px 1px 1px black)
				p
					font-size 41.42px
					font-weight 400
					text-shadow(1px 1px 1px black)
				a
					max-width 300px
					width 80%
					display inline-block
					color branco
					font-size 19.45px
					font-weight 900
					text-decoration none
					padding 10px 0
					background-color cor5
					border-radius(60px)
				.arrow-down
					margin-top 120px
					@media mqtablet
						margin-top 60px
					span.glyphicon-menu-down
						display block
						font-size 26px
						font-weight 100
						margin-bottom -10px
						opacity 1
				@media mqtablet
					bottom 25%
					h1
						font-size 32px
						font-weight 900
					p
						font-size 18px
						font-weight 400
				@media mqmobile
					h1
						font-size 24px
					p 
						font-size 24px
	.carousel-indicators
		li
			width 8px
			height 8px
			background-color $customblack2
			border 2px solid $customblack2
			&.active
				width 10px
				height 10px
				background-color $customgreen1
// about
.section-n1
	padding 70px 15px
	background-color $customwhite1
	background-image url('../../assets/img/bg-section-n1.jpg')
	color $customblack2
	&__content
		max-width 550px
		margin 0 auto
	&__about
		text-align center
		font-size 16px
		.page-header
			font-size 35px
			text-align center
			padding 0
			border 0
			margin 0
		h1
			margin 0
			font-size 1em
			font-weight 700
		h2
			font-size 1em
			font-weight 400
		p 
			font-size .9em
			line-height 1.2
			padding 20px 0
		a
			font-weight 700
			padding 5px 40px
// NEWSLETTER
.section-n2
	background-image url('../../assets/img/bg-section-n2.jpg')
	background-attachment fixed
	padding 70px 15px
	&-newsletter
		position relative
		.page-header
			border 0
			padding 0
			margin 0
			@media mqtablet
				text-align center
				margin-bottom 15px
		h1
			margin 0
			font-weight 100
		@media mqtablet
			.input-group
				text-align center
				margin-bottom 15px
		.content
			display block
// CASES
.section-n3
	background-color $customwhite1
	padding 70px 15px
	&__cases
		h1
			text-transform uppercase
	&__cases-content
		background-color $customwhite1
		.nav-tabs
			border 0
			padding 0
			margin 0 auto
			li
				position relative
				text-align center
				overflow auto
				background-color $customwhite1
				border 1px solid $customgray1
				padding 0
				&.active
					.arrow-up
						opacity 1
					span
						color $white
						margin 5px
						background-color $customblue
				&:hover a
					span
						color $white
			a
				font-size 14px
				font-weight 700
				color $customblue
				text-transform uppercase
				background-color transparent
				border 0
				transition(.2s all ease-in)
				&:visited,
				&:active,
				&:link
					background-color transparent
				@media mqmobile-md
					font-size 10px
				span
					display inline-block
					font-size 38px
					margin 15px 0
					border-radius 50%
					padding 25px
					border 5px solid transparent
					transition(.2s all ease-in)
					@media mqmobile-md
						font-size 30px
						border-radius 50%
						padding 10px
						border 5px solid transparent
		.tab-content
			padding-bottom 20px
			font-size 15px
			color $gray2
			.href
				font-weight bold
				padding 5px 35px
				margin 25px
			&__icons
				text-align center
				margin-top 50px
				color $black
				font-size 32px
				@media mqmobile-md
					font-size 38px
			&-wrapper
				position relative
				font-size 15px
				background-color $customgray1
				color $customblack4
				padding 140px 90px
				@media mqmobile
					padding 50px 15px
				img
					position absolute
					top 50%
					right -500px
					-webkit-transform translateY(-50%)
					-moz-transform translateY(-50%)
					transform translateY(-50%)
					max-width 580px
					@media mqtablet
						position relative
						right 0
						-webkit-transform translateY(0)
						-moz-transform translateY(0)
						transform translateY(0)
					@media mqtablet
						max-width 100%
				h1
					font-size 15px
					font-weight 700
					color $customblack4
					text-transform uppercase
					margin 15px 0
				p
					line-height 1.4		
			.page-header
				margin-top 30px
				.title
					font-size 16px
					font-weight 600
					color $gray2
					text-align left
					text-transform uppercase
					@media mqmobile-md
						text-align center
						margin-bottom 15px
			p
				text-align justify
.section-n4
	background-color $customyellow1
	padding 70px 15px
	border-top 15px solid $customgreen2
	h1
		text-transform uppercase
	&-content
		padding 70px 15px
		background-color $customgray2
		color $customblack3
		font-size 14px
		font-weight 400
		border-bottom 15px solid $customgray3
		text-align center
		.wrapper-icons
			font-size 56px
			@media mqmobile-md
				text-align center
		p
			min-height 100px
.section-n5
	background-color $customgreen3
	padding 70px 15px 150px 15px
	border-top 1px solid $customgreen2
	text-align center
	@media mqmobile
		padding 70px 15px 70px 15px
	.img-divisor
		position relative
		max-width 100%
		z-index 1
		margin-bottom -25%
		@media mqtablet
			position absolute
			margin-bottom 0
			top 100%
			left 0
			right 0
			-webkit-transform translateY(-50%)
			-moz-transform translateY(-50%)
			transform translateY(-50%)
	.page-header
		max-width 820px
		margin 0 auto
	h1
		text-transform uppercase
	h2
		color $customwhite1
		font-weight 100
	&-content
		padding 150px 15px 90px 15px
		background-color $customblack3
		color $customwhite1
		font-size 14px
		font-weight 400
		@media mqmobile
			padding 70px 15px 70px 15px
		.sale
			padding 70px 15px
		.sale,.sale1
			text-align center
			strong
				font-size 24px
			.wrapper-sale
				margin 15px 0
				border 1px solid alpha($customwhite1, 50%)
			.setup
				padding 30px 0
			.mensal
				padding 17px 0
			.sale-desc
				overflow auto
				zoom 1
				padding 68px 0
				font-size 24px
				font-weight bold
				display block
			.sale-price
				font-size 40px
				font-weight 400
				display table
				background-color $customyellow2
				padding 5px
				width 90%
				margin 0 auto -30px auto
				color $customblack3
				@media mqmobile-md
					margin 0 auto -15px auto
					font-size 18px
			.price-r,
			.price-d
				vertical-align middle
				font-size 14px
			.price-d
				font-size 14px
				font-weight 700
		.sale2
			.wrapper-price
				margin 0 auto -30px auto
				.quebra
					display none
				@media mqmobile-md
					margin 0 auto -15px auto
				@media mqmobile
					.quebra
						display inline
			.sale-price
				margin 0 auto 0 auto
				width 40%
				display inline-block
				background-color $customgreen1
				&--middle
					width 10%
					background-color $customyellow2
			.sale-desc
				padding 35px 0
			.price-r,
			.price-d
				display inline
			.sale-big
				font-size 72px
				padding 0 15px
				color $customgreen1
				vertical-align middle
		.sale-or
			text-align center
			img
				margin-top 190px
				@media mqtablet
					margin-top 0
		.sale-lid
			margin-top 50px
			border-bottom 1px solid alpha($customwhite1, 50%)
			border-left 1px solid alpha($customwhite1, 50%)
			border-right 1px solid alpha($customwhite1, 50%)
			a
				font-style italic
				margin 0 auto -30px auto
				width 30%
				font-size 32px
				font-weight 100
				@media mqmobile-md
					font-size 28px
					width 98%
.section-n6
	background-color $customgray2
	background-image url('../../assets/img/bg-section-n6.png')
	background-size contains
	background-position bottom right
	background-repeat no-repeat
	padding 70px 15px
	@media mqmobile-md
		background-image none
	.page-header
		max-width 820px
		margin 0 auto
	h1
		text-transform uppercase
	&__form
		padding-top 70px
		.btn-custom1
			font-size 22px
			font-weight 700
			padding 7px 60px
	&-content
		padding 150px 15px 70px 15px
		background-color $customblack3
		color $customwhite1
		font-size 14px
		font-weight 400
		.wrapper-icons
			font-size 48px
		p
			min-height 100px
.footer
	position relative
	z-index 1
	text-align center
	color $customwhite1
	font-size 13px	
	&__contact
		background-color $customgreen1
		color $customblack3
		padding 30px 15px
	&__credits
		background-color $customgreen4
		padding 10px
	p 
		font-size 18px
	a
		font-size 13px
		color $customwhite1
.thankyou-form
	min-height 100vh
	img
		position fixed
		top 50%
		left 25%
		vertical-middle(-50%)
	