// MEDIA QUERYS
// Values
mobile = 480px
mobile-md = 767px
tablet =  990px
tablet-md = 1023px
desktop = 1170px
// Params
mqmobile = "only screen and (max-width: " + mobile + ")"
mqmobile-md = "only screen and (max-width: " + mobile-md + ")"
mqtablet = "only screen and (max-width: " + tablet + ")"
mqtablet-md = "only screen and (max-width: " + tablet-md + ")"
mqdesktop = "only screen and (min-width: " + desktop + ")"

// Colors
$cor1 = #FFF
$cor2 = #000
$cor3 = #c6d346
$cor4 = #4b4b4b
$cor5 = #ef404a
$cor6 = #e4e5e4
$cor7 = #f2f55f
$cor8 = #5d8531
$cor9 = #eaeaea
$cor10 = #d3d1d1
$cor11 = #c1d938
$cor12 = #333333
$cor13 = #b7b7b7
$cor14 = #9bb33c
$cor15 = #5a5656
$cor16 = #f1e44d
$cor17 = #438624

// White
$customwhite1 = $cor1

// Black
$customblack1 = $cor2
$customblack2 = $cor4
$customblack3 = $cor12
$customblack4 = $cor15

// Green
$customgreen1 = $cor3
$customgreen2 = $cor8
$customgreen3 = $cor11
$customgreen4 = $cor14
$customgreen5 = $cor17

// Red
$customred1 = $cor5

// Gray
$customgray1 = $cor6
$customgray2 = $cor9
$customgray3 = $cor10
$customgray4 = $cor13

// Yellow
$customyellow1 = $cor7
$customyellow2 = $cor16