// MEDIA QUERYS
// Values
mobile = 480px
mobile-md = 767px
tablet =  969px
tablet-md = 1023px
desktop = 1170px
// Params
mqmobile = "only screen and (max-width: " + mobile + ")"
mqmobile-md = "only screen and (max-width: " + mobile-md + ")"
mqtablet = "only screen and (max-width: " + tablet + ")"
mqtablet-md = "only screen and (max-width: " + tablet-md + ")"
mqdesktop = "only screen and (min-width: " + desktop + ")"

// CORES
$cor1     = #57cbf5
$cor2     = #3156a2
$cor3     = #2c85ff
$cor4     = #33ff9d
$cor5     = #e1e5e3
$cor6     = #c23355
$cor7     = #003243
$cor8     = #16252b
$cor9	  = #2b4e86
$cor10	  = #FFF
$cor11 	  = #021E40
$cor12    = #1f3869
$cor13	  = #000
$cor14    = #95f6ff
$cor15    = #385782
$cor16 	  = #173544
$cor17 	  = #142340
$cor01    = #0b245b
$cor18    = #696c6b
$cor19    = #35aee2
$cor20    = #404358
$cor21    = #329fa6
$cor22    = #115e6e
$cor23    = #2f3032
$cor24    = #1c415b
$cor25    = #01bafe
$cor26    = #152341

$customblue     = $cor1
$customblue2 = $cor12
$customblue3    = $cor7
$customblue3    = $cor15
$customblue4    = $cor16
$customblue5 = $cor17
$customblue6 = $cor19
$customblue7 = $cor20
$customblue8 = $cor21
$customblue9 = $cor22
$customblue10 = $cor24
$customblue11 = $cor25
$customblue12 = $cor9
$customblue13 = $cor26
$customdarkblue = $cor2
$customdarkblue2 = $cor11
$customdarkblue3    = $cor8
$customblack1 = $cor23
$ocean    = $cor3
$green    = $cor4
$gray     = $cor5
$gray2    = $cor18
$pink     = $cor6
$blue4    = $cor9
$white    = $cor10
$black    = $cor13
$ocean2   = $cor14